body {
  background-color: #000000;
    color: #FFFFFF;
}
a {
  color: #FFFFFF;
}

#clockBorder {
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 5%;
    background: black;
    
}
span {
  font-size: 400%;
}
p {
  font-size: 300%;
}


#StopButton {
  display: none;
}
#id {
  margin-top: 10px;
}
